[submodule "themes/polarbear"]
	path = themes/polarbear
	url = https://github.com/zivyou/hexo-theme-polarbear.git
[submodule "themes/hexo-theme-lite"]
	path = themes/hexo-theme-lite
	url = git@github.com:HeskeyBaozi/hexo-theme-lite.git
